PORT=8080
DATABASE_URL="postgres://postgres:postgres@localhost:5432/chaicode"

SMTP_MAIL="your_ethereal_email@ethereal.email"
SMTP_PASSWORD="your_ethereal_password"

ACCESS_SECRET="your_access_token_secret"
REFRESH_SECRET="your_refresh_token_secret"
